

article{
  box-sizing: border-box;
  margin: 10px;
  height: 220px;
  width: 200px;
  // border: white solid 1px;
  background: rgba(155, 155, 155, .2);
  padding-left: 10px;
  div {
    display: flex;
    p {
      width: 80%;
      text-align: left;
      // margin-left: 10px;
    }
  }
  p {
    color: white;
    width: 90%;
    text-align: left;
  }
}